# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name- Tess Anderson
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [85]:
newlist=[]
for i in range(1,11):
    newlist.append(i**2)
newlist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [86]:
import random
randlist=[]
for i in range(1,11):
    randlist.append(random.randint(1,100))
randlist

[82, 57, 95, 57, 77, 18, 96, 68, 93, 14]

In [87]:
print(f"The smallest value in the list is {min(randlist)}.")

The smallest value in the list is 14.

In [88]:
print(f"The largest value in the list is {max(randlist)}.")

The largest value in the list is 96.

In [89]:
print(f"The total of all values in the list is {sum(randlist)}.")

The total of all values in the list is 657.

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [90]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]

In [91]:
new_list[2]

'day'

In [92]:
new_list[1][1]

300

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [93]:
College=("Bellarmine", "2001 Neuburg RD")
name,year=College
print(name)

Bellarmine

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [94]:
age=int(input("Enter your age. "))
if age<18:
    print("The student is a minor.")
else:
    print("The student is not a minor.")

Enter your age. 25
The student is not a minor.

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [31]:
num=int(input("Enter a number. "))
if num%2==0 and num<10:
    print("This number is even and less than 10.")
elif num%2!=0 and num>10:
    print("This number is odd and greater than  10.")
elif num%2!=0 and num<10:
    print("This number is odd and less than 10.")
elif num==10:
    print("This number is equal to 10.")
else:
    print("This number is even and is greater than 10.")

Enter a number. 10
This number is equal to 10.

In [98]:
num=int(input("Enter a number. "))
#check if the number is odd.
if num%2!=0: #the number is odd
    if num>10:
        print("The number is odd and greater than 10.")
    else:
        print("This odd number is less than or equal to 10.")
else:
    print("The number is even. ")

Enter a number. 9
This odd number is less than or equal to 10.

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [35]:
num11=int(input("Enter a number! "))
if num11%11==0:
    print("The number is a multiple of 11.")
else:
    print("The number is not a multiple of 11.")

Enter a number! 22
The number is a multiple of 11.

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [39]:
keys = [10, 20, 30]
values =['Ten', 'Twenty', 'Thirty']
zippedDict=dict(zip(keys,values))
zippedDict

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [99]:
def maximize(a,b):
    if a>b:
        return f"The first number ({a}) is the largest."
    if a<b:
        return f"The second number ({b}) is the largest."
    else:
        return f"The values are equal."

In [100]:
maximize(24,42)

'The second number (42) is the largest.'

In [101]:
maximize(50,50)

'The values are equal.'

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [102]:
def area(side):
    return f"The area is equal to {side**2}."
def perim(side):
    return f"The perimeter is equal to {side*4}."
area(10)

'The area is equal to 100.'

In [103]:
perim(10)

'The perimeter is equal to 40.'

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [104]:
for i in range(10,21):
    print(i, end=' ')

10 11 12 13 14 15 16 17 18 19 20

In [105]:
i=10
while i<=20:
    print(i, end=' ')
    i+=1

10 11 12 13 14 15 16 17 18 19 20